node_modules
npm-debug.log
/.DS_Store
/.env.local
/vendor
/.idea
/.vscode
/dist
/build
/.git
/.gitignore
/README.md
.env.example
laravel.log
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
